version: 2
jobs:
  tests:
    machine: true
    steps:
      - checkout
      # - run: docker build -t devops-demo .
      # - run: docker run devops-demo:latest npm test

  deploy-qa:
    machine: true
    steps:
      - checkout
      - run: sh .circleci/deployments/qa.sh

  deploy-prod:
    machine: true
    steps:
      - checkout
      - run: echo $GOOGLE_AUTH > $HOME/gcp-key.json
      - run: docker build --rm=false -t gcr.io/$GCP_PROJECT/$IMAGE_NAME:$CIRCLE_SHA1 .
      - run: gcloud auth activate-service-account --key-file $HOME/gcp-key.json
      - run: gcloud --quiet config set project $GCP_PROJECT
      - run: gcloud docker -- push gcr.io/$GCP_PROJECT/$IMAGE_NAME:$CIRCLE_SHA1
      - run: sh .circleci/deployments/prod.sh
      # - run: wget -O /tmp/terraform.zip https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_linux_amd64.zip
      # - run: unzip /tmp/terraform.zip -d ~/bin
      # - run: wget -O /tmp/terraform.zip https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_linux_amd64.zip \
      #        unzip /tmp/terraform.zip -d ~/bin \
      #        cd infra && terraform init -input=false && \
      #        terraform apply -input=false -auto-approve

workflows:
  version: 2
  central_flow:
    jobs:
      - tests
      - deploy-qa:
          requires:
            - tests
          filters:
            branches:
              only: /feature-.*/
      - deploy-prod:
          requires:
            - tests
          filters:
            branches:
              only: master